.wrap{
 
display: flex;
flex-wrap: wrap;
margin-bottom: 50px;
}
.Item{
    width: 48%;  
    box-sizing: border-box;
    background-color: #e7e7e7;
    border: 2px solid #464353;
    font-size:large;
    margin: 10px;
    
}

#urlLinks{
        
        background-color: #e7e7e7;
        border: 2px solid #464353;
        font-size: large;
        margin-left: 10px ;
       
}